.thumbnail_generic {
    width: 3em;
    height: 3em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: green!important;

}

.thumbnail_logo {
    width: 8em;
    height: 8em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: green!important;

} 

.pointer{
    cursor: pointer;
}